<h1>FUNDAMENTOS DE ANGULAR</h1>

<!-- PROPIEDADES E INTERPOLACION -->

<section>
  <h2>Propiedades e interpolacion</h2>
  <p>Las propiedades: Variables que nosotros estructuramos en el TS</p>
  <p>La interpolacion : el uso de esas variables en HTML de forma automatica</p>


  <p>Esre es un bootcamp con la especialista{{especialista}}, el bootcamp tiene {{horasBootcamp}} horas</p>

  <h3>Contenido horasBootcamp</h3>
  <ul>
    <li>primero {{contenidoBootcamp.tecnologia1}}</li>
    <li>segundo{{contenidoBootcamp.tecnologia2}}</li>
    <li>actualmente estamos viendo {{contenidoBootcamp.tecnologia4}}</li>



  </ul>
  <p>El contenido de los productos van a ser {{objetoProducto.nombre}} la cantidad es {{objetoProducto.cantidad}}</p>
  <br>
</section>

<section>
  <h2>enlace de datos</h2>
  <h3>Manejo de eventos:</h3>
  <p>Acciones que podemos ejecutar cuando hacemos algo en el navegador</p>


  <button type="button" (click)="saludo()">click me</button>

  <!-- 2do ejemplo -->
  <div class="caja {{colorFondo}}" (click)="manejarClick()" (mouseover)="manejarMouseOver()"
    (mouseout)="manejarMouseOut()">

  </div>


  <h3>enlace de atributos</h3>
  <p>esto se usa cuando necesitamos manipular atributos de nuestro HTML de forma condicional</p>
  <button type="button" [disabled]="!islogged">comprar producto</button>

</section>

<br>

<section>
  <h2>Control de flujo</h2>
  <p>ciclos y condicionales</p>
  <h3>CONDICIONALES -> If</h3>
  @if(isDelete){
  <button type="button">Borrar producto</button>
  }
  @else {
  <button type="button">Modificar producto</button>
  <ul>
    <li>producto</li>
    <li>producto</li>
    <li>producto</li>
    <li>producto</li>
    <li>producto</li>
    <li>producto</li>
  </ul>
  }

</section>
<h3>Condicional con directiva de angular</h3>
<!-- DIRECTIVA NGIF -->
<div *ngIf="isShowed; else noDiv">
  <p>este parrafo se muestra porque "isShowed" es verdadero</p>

</div>
<ng-template #noDiv>
  <p>este parrafo se muestra porque "isShowed" es falso</p>
</ng-template>

<h3>ciclo for</h3>
<p>los productos en stock son:</p>
<ol ><li *ngFor="let producto of productos">{{producto}}</li></ol>